.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.tableWrapper {
  width: 50%;
  display: flex;
  align-items: center;
}
.table {
  width: 100%;
}
.headerTable {
  font-size: 22px;
  text-align: left;
}
.eyeOption {
  display: flex;
  align-items: center;
}
.eyeColorSelect {
  margin-left: 10px;
}
.tbody {
  font-size: 18px;
}
.tdAbout {
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageBtn {
  font-size: 18px;
  cursor: pointer;
  margin-right: 15px;
  margin-top: 25px;
}
